@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "variables";

.nuxt-ui-component {
    color: var(--hive-yellow-500); /* Example color */
}

.nuxt-ui-component-specific {
    color: var(--buzz-orange-500); /* Example color */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button, a {
    cursor: pointer;
}

button:disabled, a:disabled, input:disabled {
    cursor: auto;
}

body {
    color: #ffffff;
    font-family: 'Outfit', sans-serif;
    * {
        transition: transform 0.3s, background-color 0.3s, color 0.3s, box-shadow 0.3s, border 0.3s;
    }
}