:root {
    /* Hive Yellow */
    --hive-yellow-50: #ffffea;
    --hive-yellow-100: #fffcc5;
    --hive-yellow-200: #fffa85;
    --hive-yellow-300: #fff046;
    --hive-yellow-400: #ffe21b;
    --hive-yellow-500: #ffc300;
    --hive-yellow-600: #e29700;
    --hive-yellow-700: #bb6b02;
    --hive-yellow-800: #985308;
    --hive-yellow-900: #7c430b;

    /* Buzz Orange */
    --buzz-orange-50: #fffbea;
    --buzz-orange-100: #fff2c5;
    --buzz-orange-200: #ffe485;
    --buzz-orange-300: #ffd046;
    --buzz-orange-400: #ffba1b;
    --buzz-orange-500: #ff9600;
    --buzz-orange-600: #e26f00;
    --buzz-orange-700: #bb4b02;
    --buzz-orange-800: #983908;
    --buzz-orange-900: #7c2f0b;

    /* Bee Dark Blue */
    --bee-dark-blue-50: #f4f6fb;
    --bee-dark-blue-100: #e8ecf6;
    --bee-dark-blue-200: #cbd8ec;
    --bee-dark-blue-300: #9db6dc;
    --bee-dark-blue-400: #6990c7;
    --bee-dark-blue-500: #4672b1;
    --bee-dark-blue-600: #345995;
    --bee-dark-blue-700: #2b4779;
    --bee-dark-blue-800: #273e65;
    --bee-dark-blue-900: #253555;
    --bee-dark-blue-950: #111827;

    /* Honeycomb Gold */
    --honeycomb-gold-50: #fbf7eb;
    --honeycomb-gold-100: #f6eccb;
    --honeycomb-gold-200: #eed89a;
    --honeycomb-gold-300: #e4bb60;
    --honeycomb-gold-400: #d99e30;
    --honeycomb-gold-500: #ca8b28;
    --honeycomb-gold-600: #ae6b20;
    --honeycomb-gold-700: #8b4e1d;
    --honeycomb-gold-800: #743f1f;
    --honeycomb-gold-900: #64361f;

    /* Spring Green */
    --spring-green-50: #f3f9ec;
    --spring-green-100: #e4f1d6;
    --spring-green-200: #cce4b2;
    --spring-green-300: #a8d080;
    --spring-green-400: #8cbe5d;
    --spring-green-500: #6cbf6c;
    --spring-green-600: #54812f;
    --spring-green-700: #426328;
    --spring-green-800: #375024;
    --spring-green-900: #304522;

    /* Nectar Red */
    --nectar-red-50: #fff2f1;
    --nectar-red-100: #ffe4e1;
    --nectar-red-200: #ffccc7;
    --nectar-red-300: #ffa8a0;
    --nectar-red-400: #ff6f61;
    --nectar-red-500: #f84c3b;
    --nectar-red-600: #e52f1d;
    --nectar-red-700: #c12314;
    --nectar-red-800: #a02014;
    --nectar-red-900: #842218;

    /* Bee Black */
    --bee-black-50: #f6f6f6;
    --bee-black-100: #e7e7e7;
    --bee-black-200: #d1d1d1;
    --bee-black-300: #b0b0b0;
    --bee-black-400: #888888;
    --bee-black-500: #6d6d6d;
    --bee-black-600: #5d5d5d;
    --bee-black-700: #4f4f4f;
    --bee-black-800: #454545;
    --bee-black-900: #333333;
}


// Christmas theme
.christmas-theme {
    /* Hive Yellow */
    --hive-yellow-50: #fef3f2;
    --hive-yellow-100: #fee4e2;
    --hive-yellow-200: #fececa;
    --hive-yellow-300: #fbaca6;
    --hive-yellow-400: #f77b72;
    --hive-yellow-500: #ed5146;
    --hive-yellow-600: #da3428;
    --hive-yellow-700: #af261c;
    --hive-yellow-800: #98241c;
    --hive-yellow-900: #7e251e;
    --hive-yellow-950: #440f0b;

    /* Buzz Orange */
    --buzz-orange-50: #fbeae8;
    --buzz-orange-100: #f7d6d4;
    --buzz-orange-200: #f0b5b1;
    --buzz-orange-300: #e78885;
    --buzz-orange-400: #da5959;
    --buzz-orange-500: #c53940;
    --buzz-orange-600: #a62a33;
    --buzz-orange-700: #8b2631;
    --buzz-orange-800: #5e1c25;
    --buzz-orange-900: #420f14;

    /* Bee Dark Blue */
    --bee-dark-blue-50: #f4fbf2;
    --bee-dark-blue-100: #e4f8e0;
    --bee-dark-blue-200: #cbefc3;
    --bee-dark-blue-300: #9fe293;
    --bee-dark-blue-400: #6ecb5d;
    --bee-dark-blue-500: #49b037;
    --bee-dark-blue-600: #379128;
    --bee-dark-blue-700: #2f7223;
    --bee-dark-blue-800: #285b20;
    --bee-dark-blue-900: #1e4319;
    --bee-dark-blue-950: #0d290a;

    /* Honeycomb Gold */
    --honeycomb-gold-50: #fdf3f4;
    --honeycomb-gold-100: #fbe5e7;
    --honeycomb-gold-200: #f8d0d4;
    --honeycomb-gold-300: #f2afb6;
    --honeycomb-gold-400: #e8818c;
    --honeycomb-gold-500: #db5866;
    --honeycomb-gold-600: #c63c4b;
    --honeycomb-gold-700: #a62f3c;
    --honeycomb-gold-800: #8a2a34;
    --honeycomb-gold-900: #732931;
    --honeycomb-gold-950: #330e12;



    /* Spring Green */
    --spring-green-50: #f3f9ec;
    --spring-green-100: #e4f1d6;
    --spring-green-200: #cce4b2;
    --spring-green-300: #a8d080;
    --spring-green-400: #8cbe5d;
    --spring-green-500: #6cbf6c;
    --spring-green-600: #54812f;
    --spring-green-700: #426328;
    --spring-green-800: #375024;
    --spring-green-900: #304522;

    /* Nectar Red */
    --nectar-red-50: #fff2f1;
    --nectar-red-100: #ffe4e1;
    --nectar-red-200: #ffccc7;
    --nectar-red-300: #ffa8a0;
    --nectar-red-400: #ff6f61;
    --nectar-red-500: #f84c3b;
    --nectar-red-600: #e52f1d;
    --nectar-red-700: #c12314;
    --nectar-red-800: #a02014;
    --nectar-red-900: #842218;

    /* Bee Black */
    --bee-black-50: #f6f6f6;
    --bee-black-100: #e7e7e7;
    --bee-black-200: #d1d1d1;
    --bee-black-300: #b0b0b0;
    --bee-black-400: #888888;
    --bee-black-500: #6d6d6d;
    --bee-black-600: #5d5d5d;
    --bee-black-700: #4f4f4f;
    --bee-black-800: #454545;
    --bee-black-900: #333333;
}